<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/head :: head"></head>

    <body>
        <header th:replace="fragmentos/header :: header"></header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col lead mt-3">
                        Cargue los datos de la nueva categoría
                    </div>
                </div>
                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${error}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col-8 mt-3">
                        <form th:action="@{/categorias/__${action}__}" th:object="${categoria}" method="post" class="needs-validation" novalidate>
                            <input type="hidden" th:field="*{id}">
                            <div class="text-danger my-3 small">(*) Campo obligatorio</div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre <span
                                    class="text-danger">*</span></label>
                                <input type="text" th:field="*{nombre}" class="form-control" required/>
                                <div class="invalid-feedback">Nombre es requerido</div>
                            </div>

                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción <span
                                    class="text-danger">*</span></label>
                                <input type="text" th:field="*{descripcion}" class="form-control"required/>
                                <div class="invalid-feedback">Descripción es requerida</div>        
                            </div>
                            <div class="mb-5">
                                <div>
                                    <button class="btn btn-warning" type="submit" th:text="${action == 'crear' ? 'Crear' : 'Actualizar'}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
        <footer th:replace="fragmentos/footer :: footer"></footer>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
    </body>
</html>


