
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main>
            <div class="container">
                <div class="row mt-5">

                    <div class="col-auto">
                        <a th:href="@{/emprendimientos/formulario}" class="btn btn-primary">Crear</a>
                    </div>

                    <div th:if="${exito}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                        <span th:text="${exito}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                        <span th:text="${error}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${emprendimientos.isEmpty()}" class="alert alert-info mt-3" role="alert">No Existen emprendimientos</div>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="table-dark">
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Foto</th>
                                <th>Telefono</th>
                                <th>Horarios</th>
                                <th>Formas De Pago</th>
                                <th>categoria</th>
                                <th>Inicio Actividad</th>
                                <th>Actualizar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="emprendimiento : ${emprendimientos}">
                                <td th:text="${emprendimiento.nombre}"></td>
                                <td th:text="${emprendimiento.descripcion}"></td>
                                <td th:text="${emprendimiento.imagen}"></td>
                                <td th:text="${emprendimiento.telefono}"></td>
                                <td th:text="${emprendimiento.horario}"></td>
                                <td th:text="${emprendimiento.formasPago}"></td>
                                <td th:text="${emprendimiento.categorias}"></td>
                                <td th:text="${emprendimiento.inicioActividades}"></td>
                                <td><a th:href="@{/emprendimientos/formulario/__${emprendimiento.id}__}">Actualizar</a></td>
                                <td>
                                    <form method="POST" th:action="@{/emprendimientos/eliminar/__${emprendimiento.id}__}">
                                        <button type="submit" class="btn btn-danger">Eliminar</button> 
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragmentos/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>

</body>
</html>

