<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/head :: head"></head>

    <body>
        <header th:replace="fragmentos/header :: header"></header>
        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-8">
                        <form th:action="@{/articulos/__${action}__}" th:object="${articuloDTO}" method="post" 
                        enctype="multipart/form-data" class="needs-validation" novalidate>
                            <input type="hidden" th:field="*{articuloId}">
                            <input type="hidden" th:field="*{demoraId}">
                            <input type="hidden" th:value="${session.id}" name="usuarioId"/>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre producto</label>
                                <input type="text" th:field="*{nombre}" placeholder="nombre producto" class="form-control" required/>
                                <div class="invalid-feedback">Nombre de producto es requerido</div>
                            </div>

                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción</label>
                                <input type="text" th:field="*{descripcion}" placeholder="descripcion" class="form-control"required/>
                                <div class="invalid-feedback">Descripción es requerida</div>        
                            </div>
                            <div class="mb-3">
                                <label for="precio" class="form-label">Precio</label>
                                <input type="number"th:field="*{precio}" placeholder="precio" class="form-control"required/>
                                <div class="invalid-feedback">Precio es requerido</div>        
                            </div>     
                            <div class="mt-3">
                                <label for="foto">Subir imagen</label>
                                <input class="form-control mt-3" type="file" name="foto" accept="image/*">
                            </div>
                            <div class="mb-3">
                                <label for="categoria" class="form-label">Categoria</label>
                                <select th:field="*{categoria}" id="categoria" class="form-select" aria-label="Select categoria">
                                    <option selected value="">Categoría</option>
                                    <option th:each="categoria : ${categorias}" th:text="${categoria.nombre}" th:value="${categoria.id}"></option>   
                                </select>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" th:field="*{envioADomicilio}">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Envío a domicilio</label>
                            </div>
                            <div class="row">
                                <label for="disabledSelect" class="form-label">Demora</label>
                                <div class="mb-3 col-6">
                                    <input type="number" id="disabledTextInput" class="form-control" placeholder="Cantidad" th:field="*{cantidad}">
                                    <div class="invalid-feedback">Cantidad es Requerido</div>
                                </div>
                                <div class="mb-3 col-6">   
                                    <select th:field="*{unidadTiempo}" id="unidadTiempo" class="form-select">
                                        <option Selected value="">Tipo</option>
                                        <option th:each="unidad : ${unidadesTiempo}" th:text="${unidad.name}" th:value="${unidad.name}"></option>   
                                    </select>
                                </div>
                            </div>
                            <div class="mb-5">
                                <div>
                                    <button class="btn btn-primary" type="submit" th:text="${action == 'crear' ? 'Crear' : 'Actualizar'}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
        <footer th:replace="fragmentos/footer :: footer"></footer>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
    </body>
</html>

