<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/head :: head"></head>
    <body>
        <header th:replace="fragmentos/header :: header"></header>
        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col">
                        <div sec:authorize="hasRole('EMPRENDEDOR')" class="col-auto">
                            <form method="POST" th:action="@{/articulos/formulario}">
                                <input type="hidden" th:value="${session.id}" name="usuarioId"/>
                                <button type="submit" class="btn btn-primary">Crear</button> 
                            </form>
                        </div>

                        <div th:if="${exito}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                            <span th:text="${exito}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                            <span th:text="${error}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div th:if="${articulos.isEmpty()}" class="alert alert-info mt-3" role="alert">No existen articulos</div>
                        <table th:unless="${articulos.isEmpty()}" class="table table-hover table-bordered mt-3">
                            <thead>
                                <tr class="table-dark">
                                    <th>Foto</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Envío a domicilio</th>
                                    <th>Fecha de publicación</th>
                                    <th>Demora</th>
                                    <th sec:authorize="hasRole('ADMIN')">Emprendedor</th>
                                    <th sec:authorize="hasRole('EMPRENDEDOR')">Actualizar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="articulo : ${articulos}">
                                    <td><img class="rounded-circle"
                                        th:src="${articulo.imagen} ? @{/subidas/__${articulo.imagen}__} : @{/subidas/default-image.png}"
                                        width="50" height="50"></td>
                                    <td th:text="${articulo.nombre}"></td>
                                    <td th:text="${articulo.descripcion}"></td>
                                    <td th:text="|$${articulo.precio}|"></td>
                                    <td th:text="${articulo.envioADomicilio ? 'Si' : 'No'}"></td>
                                    <td th:text="${articulo.fechaPublicacion}"></td>
                                    <td th:text="${articulo.demora !=null} ? |${articulo.demora.cantidad} ${articulo.demora.unidadTiempo}| : '-'"></td>
                                    <td sec:authorize="hasRole('ADMIN')" th:text="${articulo.emprendimiento.usuario.email}"></td>
                                    <td sec:authorize="hasRole('EMPRENDEDOR')">
                                        <form method="POST" th:action="@{/articulos/formulario/__${articulo.id}__}">
                                            <input type="hidden" th:value="${session.id}" name="usuarioId"/>
                                            <button type="submit" class="btn btn-primary">Actualizar</button> 
                                        </form>
                                    <td>
                                        <form method="POST" th:action="@{/articulos/eliminar/__${articulo.id}__}">
                                            <button type="submit" class="btn btn-danger">Eliminar</button> 
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragmentos/footer :: footer"></footer>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
</body>
</html>
