<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/head :: head"></head>
    <body>
        <div th:replace="${session.id == null} ? ~{fragmentos/auth-header :: auth-header} : ~{fragmentos/header :: header}"></div>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col  mt-3">
                        <div class="card mb-3 col-8 border-warning" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img th:src="${articulo.imagen} ? @{/subidas/__${articulo.imagen}__} : @{/subidas/default-image.png}" class="img-fluid rounded-start" alt="Img. del artículo">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="card-title" th:text = "${articulo.nombre}"></h2>
                                        <p class="card-text" th:text = "${articulo.descripcion}"></p>
                                        <p class="card-text" th:text="|$${articulo.precio}|" ></p>
                                        <p class="card-text" th:if="${articulo.demora != null}" th:text = "|Tenemos una demora de ${articulo.demora.cantidad} ${articulo.demora.unidadTiempo} desde que hacés el pedido.|"></p>
                                        <p class="card-text" th:text = "${articulo.envioADomicilio} ? 'Hacemos envío a domicilio' : 'No hacemos envío a domicilio'"></p>
                                        <p class="card-text" th:text = '|Vendido por: ${articulo.emprendimiento.nombre}|'></p>
                                        <p class="card-text" th:text = '|Publicado el: ${articulo.fechaPublicacion}|'></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mt-3">
                    <h1>Productos similares</h1>
                </div>
                <div class="card-group row mt-3">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-warning">Ver Producto</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-warning">Ver Producto</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Producto</h5>
                            <p class="card-text">Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-warning">Ver Producto</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </main>
        <footer th:replace="fragmentos/footer :: footer"></footer>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
    </body>
</html>

