@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-image: url("../img/background8.png");
}

main {
    min-height: calc(100vh - 112px);
}


.carousel-caption{
    width: 70%;
}



