<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>

    <body>
        <header th:replace="fragments/header :: header"></header>
        <main>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Lo Que Busques</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mi Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mis Productos</a>
                            </li>


                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>


                            <button class="btn btn-outline-success" type="submit">Cerrar Sesion</button>

                    </div>
                </div>

            </nav>
        </header>
        <div class="container">
            <div class="row mt-5">
                <div class="col-8">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre Emprendimiento</label>
                        <input type="text" name="nombre" placeholder="nombre emprendimientoto" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" name="descripcion" placeholder="descripcion" class="form-control"
                               required/>  
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Cargar Foto</label>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="number" name="telefono" placeholder="telefono" class="form-control"
                               required/>
                    </div>     
                    <div class="mb-3">
                        <label for="horario" class="form-label">Horarios De Atencion</label>
                        <input type="number" name="horario" placeholder="horario" class="form-control"
                               required/>
                    </div>   
                    <div class="mb-3">
                        <label for="Forma de pago" class="form-label">Formas de pago</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Formas de pago</option>
                            <option value="1">Efectivo</option>
                            <option value="2">Credito</option>
                            <option value="3">Debito</option>
                        </select>
                    </div>
                </div>     
                <div class="mb-3">
                    <label for="Año Inicio Actividad">Inicio Actividad</label>
                    <input type="date" name="Año Inicio Actividad" placeholder="Año Inicio Actividad"
                           required/>
                </div> 
                <div class="mb-3">
                    <div align="center">
                        <button type="button" class="btn btn-primary">Guardar cambios</button>

                    </div>
                </div>
            </div>
        </div>

    </main>

</body>
</html>
