<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head"></head>

<body>

    <header th:replace="fragmentos/header :: header"></header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col lead mt-3">
                    Cargue el correo y una contraseña para el emprendimiento
                </div>
            </div>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <span th:text="${error}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-8 mt-3">
                    <form th:action="@{/emprendimientos/crear}" th:object="${usuario}" method="post"
                        autocomplete="off" class="needs-validation mb-4" novalidate>
                        <input type="hidden" th:field="*{id}">
                        <div class="text-danger my-3 small">(*) Campo obligatorio</div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo del emprendimiento <span
                                class="text-danger">*</span></label>
                            <input type="email" th:field="*{email}" placeholder="Correo electronico"
                                class="form-control" required />
                            <div class="invalid-feedback text-start">El email es requerido</div>
                        </div>
        
                        <div class="mb-3">
                            <label for="contrasenia" class="form-label">Contraseña <span
                                class="text-danger">*</span></label>
                            <input type="password" th:field="*{contrasenia}" placeholder="Contraseña"
                                class="form-control" required />
                            <div class="invalid-feedback text-start">La contraseña es requerida</div>
                        </div>
        
                        <!-- <input type="hidden" th:field="*{rol}"> -->
                        <div class="mb-5">
                            <div>
                                <button class="btn btn-warning" type="submit">Aceptar</button>
                            </div>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragmentos/footer :: footer"></footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
</body>

</html>