<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head"></head>

<body>

    <header th:replace="fragmentos/header :: header"></header>
    <main>
        <div class="container p-5">
            <div class="row">
                <div class="col-md-4 mx-auto px-0">
                    <div th:if="${error}" th:text="${error}" class="alert alert-danger shadow text-center">
                    </div>
                    <div class="card border-success mb-3" style="max-width: 840px;">
                        <div class="card-header">Crea el usuario y contraseña para el emprendedor</div>
                        <div class="card-body text-success">
                            <form th:action="@{/emprendimientos/crear}" th:object="${usuario}" method="post"
                                autocomplete="off" class="needs-validation mb-4" novalidate>
                                <input type="hidden" th:field="*{id}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box2-fill" viewBox="0 0 16 16">
                                    <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6l.5.667Z"/>
                                  </svg>
                                <div class="form-group mb-3">
                                    <label for="email" class="form-label">Correo del emprendimiento</label>
                                    <input type="email" th:field="*{email}" placeholder="Correo electronico" class="form-control"
                                        required />
                                    <div class="invalid-feedback text-start">El email es requerido</div>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="contrasenia" class="form-label">Contraseña</label>
                                    <input type="password" th:field="*{contrasenia}" placeholder="Contraseña"
                                        class="form-control" required />
                                    <div class="invalid-feedback text-start">La contraseña es requerida</div>
                                </div>

                                <!-- <input type="hidden" th:field="*{rol}"> -->
                                <div class="card-footer bg-transparent border-success"></div>
                            
                                <div class="form-group mb-3 col-md-12 text-center">
                                    <button class="btn btn-primary" type="submit">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragmentos/footer :: footer"></footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
</body>

</html>