<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head"></head>

<body>
    <div th:replace="${session.id == null} ? ~{fragmentos/auth-header :: auth-header} : ~{fragmentos/header :: header}"></div>
    <main>
        <div class="container">
            <div class="row">
                <div class="col lead mt-3">
                    Emprendimientos en el sistema
                </div>
            </div>
            <div class="row">
                <div th:if="${emprendimientos.isEmpty()}" class="alert alert-info mt-3" role="alert">No existen emprendimientos</div>
                <div th:insert="fragmentos/cards-emprendimientos :: cards-emprendimientos" class="mt-3"></div>
            </div>
        </div>
        </div>
        </div>
    </main>

    <footer th:replace="fragmentos/footer :: footer"></footer>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
</body>

</html>