<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/head :: head"></head>
    <body>
        <header th:replace="fragmentos/header :: header"></header>
        <main>
            <h1>Emprendimiento(nombre)</h1>
             
                <div class="container" th:object="${emprendimento}">
                    <div class="row mt-5">
                        <div class="col">
                            <table>
                                <thead>
                                    <tr class="table-dark">
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Foto</th>
                                        <th>Telefono</th>
                                        <th>Horarios</th>
                                        <th>Formas De Pago</th>
                                        <th>categorias</th>
                                        <th>Inicio Actividad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <td th:text="${emprendimiento.nombre}"></td>
                                <td th:text="${emprendimiento.descripcion}"></td>
                                <td th:text="${emprendimiento.imagen}"></td>
                                <td th:text="${emprendimiento.telefono}"></td>
                                <td th:text="${emprendimiento.horario}"></td>
                                <td th:text="${emprendimiento.formasPago}"></td>
                                <td th:text="${emprendimiento.categorias}"></td>
                                <td th:text="${emprendimiento.inicioActividades}"></td>>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </main>
            <footer th:replace="fragmentos/footer :: footer"></footer>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/js/validation.js}"></script>
    </body>
</html>
